.header-image img {
  min-width: 100vw;
  min-height: 60vh;
  max-height: 640px;
  object-fit: contain;
}

.bg-header-carousel {
    filter: blur(0);
}

.gradient-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .gradient-overlay {
    @include linear-gradient(rgba($black-color, 0.2), rgba(3, 161, 224, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .gradient-image {
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensure the image covers the container
  }
}
